@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Roboto", sans-serif;
}

:root {
  --dark: #1f2937;
  --large-text: #f9faf8;
  --secondary-text: #e5e7eb;
  --button-color: #3882f6;
  --hover-text: #fefeff;
  --button-color2: #fff;

  --text-sm: 18px;
  --text-md: 24px;
  --text-lg: 36px;
  --text-xl: 48px;
}

.content {
  display: flex;
  flex-flow: column;
  padding: 0em 13em;
}

header {
  font-size: var(--text-sm);
  background-color: var(--dark);
  color: var(--secondary-text);
}

#logo {
  font-size: var(--text-md);
  font-weight: 900;
  color: var(--large-text);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.nav ul {
  list-style-type: none;
  display: flex;
  gap: 1.5em;
}

.secondary,
a:link {
  font-size: var(--text-sm);
  color: #e5e7eb;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: var(--secondary-text);
}
a:hover {
  color: var(--hover-text);
}

p {
  color: var(--dark);
}

.welcome {
  padding: 7em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.welcome .left {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
}

.welcome .right {
  flex: 1;
}

.hero {
  color: var(--large-text);
  font-weight: 900;
  font-size: var(--text-xl);
}

button {
  padding: 7px 1em;
  width: 120px;
  background-color: var(--button-color);
  border-radius: 8px;
}
.welcome button {
  border: none;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 220px;
  width: 550px;
  background-color: grey;
  flex: 1;
}
section {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 0 13em;
  margin-top: 3em;
}

section h2 {
  font-size: var(--text-lg);
  font-weight: 900;
  color: var(--dark);
}
.item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 3em 0 6em 0;
}
.item {
  text-align: center;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.placeholder-box {
  border: 4px solid;
  border-color: var(--button-color);
  border-radius: 20px;
  width: 160px;
  height: 160px;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--secondary-text);
  padding: 7em 13em;
}

blockquote,
figcaption {
  background-color: var(--secondary-text);
}

.quote-text {
  font-size: var(--text-lg);
  font-style: italic;
  font-weight: 300;
  color: var(--dark);
}

figcaption {
  display: flex;
  justify-content: flex-end;
  font-size: var(--text-sm);
  font-weight: 800;
}
.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5em 13em;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--button-color);
  padding: 3em;
  width: 100%;
  border-radius: 10px;
}

.container button {
  border: 2px solid;
  color: var(--button-color2);
}
strong {
  font-size: var(--text-md);
  color: var(--button-color2);
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
  color: var(--large-text);
  background-color: var(--dark);
}
